@using App.Client.Infrastructure
@using Microsoft.AspNetCore.Components
@using System.Runtime.InteropServices

@inherits LayoutComponentBase

<PageTitle>Fluent UI Blazor components demo page</PageTitle>

<div id="container" @ref="_container">
    <FluentLayout>
        <FluentHeader Class="siteheader">
            <a href="/">
                <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                    <svg xmlns="http://www.w3.org/2000/svg" width="174" height="23" preserveAspectRatio="xMidYMid slice">
                        <rect x="0" y="0" width="10" height="10" fill="#925022" />
                        <rect x="15" y="0" width="10" height="10" fill="#e0a4ef" />
                        <rect x="7" y="12" width="10" height="10" fill="#0fb900" />
                        <text x="30" y="15" font-weight="bold" font-family="Verdana" font-size="15" fill="var(--neutral-foreground-rest)">Fluent UI Starter</text>
                    </svg>
                </div>
            </a>
            <FluentSpacer />
            <div class="links">
                <FluentAnchor Appearance="Appearance.Hypertext"
                              Href="http://github.com/microsoft/fluentui-blazor" Target="_blank" Rel="noreferrer noopener"
                              title="FluentUI Blazor source on GitHub" aria-label="FluentUI Blazor Repo">
                    <FluentIcon Value="@(new DemoIcons.Size20.GitHub())" Color="Color.FillInverse" />
                </FluentAnchor>
            </div>
            <div class="notifications">
                <NotificationCenter />
            </div>
            <div class="settings">
                <SiteSettings />
            </div>
        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu />
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    <article id="article">
                        <FluentMessageBarProvider Section="@ClientConstants.MESSAGES_TOP" />

                        <CascadingValue Value=@OnRefreshTableOfContents>
                            @Body
                        </CascadingValue>
                    </article>
                    <aside>
                        <TableOfContents @ref=_toc />
                        <ConsoleLog />
                    </aside>

                    <FluentToastProvider MaxToastCount="10" />
                    <FluentDialogProvider />
                    <FluentTooltipProvider />
                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;")">
            <div class="version">
                <small>
                    Version: @_version
                    &nbsp;-&nbsp;
                    <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @RuntimeInformation.FrameworkDescription</a>
                </small>
            </div>
            <FluentSpacer />

            <div class="copy">
                <small>Copyright © 2023.</small>
            </div>
        </FluentFooter>

    </FluentLayout>
</div>
